In [1]:
d = {"name": "혼자 공부하는 데이터 분석"}

print(d['name'])

혼자 공부하는 데이터 분석

In [2]:
import json

In [3]:
d_str = json.dumps(d, ensure_ascii=False)
print(d_str)

{"name": "혼자 공부하는 데이터 분석"}

In [4]:
print(type(d_str))

<class 'str'>

In [5]:
d2 = json.loads(d_str)

print(d2['name'])

혼자 공부하는 데이터 분석

In [6]:
print(type(d2))

<class 'dict'>

In [7]:
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석", "author": "박해선", "year": 2022}')

print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

In [8]:
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석", "author": ["박해선","홍길동"], \
                  "year": 2022}')

print(d3['author'][1])

홍길동

In [9]:
d4_str = """
[
  {"name": "혼자 공부하는 데이터 분석", "author": "박해선", "year": 2022},
  {"name": "혼자 공부하는 머신러닝+딥러닝", "author": "박해선", "year": 2020}
]
"""
d4 = json.loads(d4_str)

print(d4[0]['name'])

혼자 공부하는 데이터 분석

In [10]:
import pandas as pd

pd.read_json(d4_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [11]:
pd.DataFrame(d4)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [12]:
# eXtensible Markup Languate
x_str = """
<book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
</book>
"""

In [13]:
import xml.etree.ElementTree as et

# xml string to object
book = et.fromstring(x_str)

In [14]:
print(type(book))

<class 'xml.etree.ElementTree.Element'>

In [15]:
print(book.tag)

book

In [16]:
book_childs = list(book)

print(book_childs)

[<Element 'name' at 0x11c076b30>, <Element 'author' at 0x11c076ae0>, <Element 'year' at 0x11c076b80>]

In [17]:
name, author, year = book_childs

print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박해선
2022

In [18]:
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')

print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박해선
2022

In [25]:
x2_str = """
<books>
    <book>
        <name>혼자 공부하는 데이터 분석</name>
        <author>박해선</author>
        <year>2022</year>
    </book>
    <book>
        <name>혼자 공부하는 머신러닝+딥러닝</name>
        <author>박해선</author>
        <year>2020</year>
    </book>
</books>
"""

In [20]:
books = et.fromstring(x2_str)

print(books.tag)

books

In [21]:
for book in books.findall('book'):
    name = book.findtext('name')
    author = book.findtext('author')
    year = book.findtext('year')
    
    print(name)
    print(author)
    print(year)
    print()

혼자 공부하는 데이터 분석
박해선
2022

혼자 공부하는 머신러닝+딥러닝
박해선
2020

In [27]:
!pip3 install lxml

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting lxml
  Downloading lxml-4.9.2.tar.gz (3.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 32.9 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: lxml
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.9.2-cp39-cp39-macosx_12_0_arm64.whl size=1694605 sha256=040df9389cf7f8c2da2a623c8bf3292724b529d56f601e50836099d4c57b3b34
  Stored in directory: /Users/kangjuyoung/Library/Caches/pip/wheels/74/7c/5a/e117656a962a1a15a3d2ac1bde4bc6193d62dc5d7e9c51e15e
Successfully built lxml
Installing collected packages: lxml
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed lxml-4.9.2
WARNING: There was an error checking the latest version of pip.

In [28]:
pd.read_xml(x2_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [29]:
import requests

In [34]:
url = "http://data4library.kr/api/loanItemSrch?format=json&startDt=2021-04-01&endDt=2021-04-30&age=20&authKey=fe32c3f634dcc78957b1fc95848a7c5f827998b365823137b633c4424204956d"

In [35]:
r = requests.get(url)

In [36]:
data = r.json()

print(data)

{'response': {'error': '인증정보가 일치하지 않습니다.'}}

In [37]:
data['response']['docs']

KeyError: 'docs'

In [38]:
books = []
for d in data['response']['docs']:
    books.append(d['doc'])

KeyError: 'docs'

In [39]:
books = [d['doc'] for d in data['response']['docs']]

KeyError: 'docs'

In [40]:
books

[]

In [41]:
books_df = pd.DataFrame(books)

books_df

Empty DataFrame
Columns: []
Index: []

In [42]:
books_df.to_json('20s_best_book.json')